<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Quote Book</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
  </head>
  <body ng-controller="controller">

    <div ng-repeat="quote in quotes | filter: filterText track by $index">
      <span class='text'>{{quote.text}}</span>
      <span class="author"> -- {{quote.author}}</span>
      <button ng-click="deleteQuote(quote.text)">Delete</button>
    </div>

    <input type='text' placeholder="Add new quote" ng-model="newQuoteText">
    <input type='text' placeholder="New quote author" ng-model='newQuoteAuthor'>
    <button ng-click="addQuote()">Add Quote</button>

    <div>
      Filter: <input type='text' ng-model='filterText'/>
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="service.js"></script>
</html>
